<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <h1>PAGINA DE INICIO</h1>

    <h1>---------------------------------------</h1>
    <style>
        .demo {
            width:50%;
            height:3%;
            border:1px doble #000000;
            border-collapse:colapso;
            padding:5px, 5PY;
        }
        .demo th {
            border:6px doble #000000;
            padding:5px;
            background:#0690F9;
        }
        .demo td {
            border:1px doble #000000;
            padding:5px;
            background:#B3C2FF;
        }
    </style>
    <table class="demo">
        <caption>tabla 1</caption>
        <thead>
        <tr>
            <th>------------------------</th>
            <th>------------------------</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>EL USUARIO CONECTADO ES: </td>
            <td><strong><%= name %></strong></td>
        </tr>
        </tbody>
    </table>
    <% if (login) { %>
        <h1>------------------------------------------</h1>


        <a href="logout" class ="a-logout"> DESCONECTAR</a>
        <a href="perfil" class ="a-perfiles"> CREAR PERFILES</a>
        <a href="verperfil" class ="a-perfiles"> VER PERFILES</a>
        <a href="coment" class="a-Publicaciones">Realizar una publicación</a>
     <% } else { %>
        <h1><strong><%= name %></strong></h1>
        <a href="login" class="a-login">IR A LOGIN</a>
     <% } %>




</body>
</html>